.root{
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #0093ff;
    -fx-border-style: solid;
}

.btnDelete{
    -fx-background-image: url('../icon/cancel30.png');
    -fx-background-size: 20 20 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    -fx-padding: 10 20 10 20;
}

.btnDelete:hover{
    -fx-background-image: url('../icon/cancel30_1.png');
}

.btnPopupLooked{
    -fx-background-image: url('../icon/iris.png');
    -fx-background-size: 20 20 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    -fx-padding: 10 20 10 20;
}

.btnPopupLooked:hover{
    -fx-background-image: url('../icon/iris_1.png');
}